.cards {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);

    @media (width <= $breakpoint-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
    }
    @media (width <= $breakpoint-sm) {
        display: block;
        gap: var(--spacing-md);
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }

    @media (width <= $breakpoint-md) {
        display: block;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    h3 {
        font-family: var(--font-secondary);
        font-size: var(--font-size-content);
        font-weight: 500;
        letter-spacing: 0.64px;
        margin: 0;
    }

    p {
        font-family: var(--font-secondary);
        font-size: var(--font-size-h3);
        margin: 0;
        font-weight: 700;

        span {
            font-weight: 100;
            color: rgba($color: #fff, $alpha: 0.55);
        }
    }

    .tag {
        font-size: var(--font-size-content);
        font-weight: 100;
    }

    .BTN_1 {
        align-self: flex-start;
        margin: 0 0 var(--spacing-xl);
        background-color: var(--color-primary);
        padding: 8px 16px;
        border-radius: 100px;

        color: var(--color-black);
        font-family: var(--font-secondary);
        font-weight: 700;
        text-decoration: none;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &:hover {
            background-color: var(--color-bg-primary);
        }

        .icon {
            color: var(--color-black);
        }
    }
    .hover {
        margin: 0 0 var(--spacing-md);
    }
}

.card__media {
    aspect-ratio: 595 / 490;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        display: block;
    }
}
