.footer {
    padding: 40px 0;

    h2 {
        color: rgba($color: #fff, $alpha: 0.55);
        font-weight: 300;
        margin: 0;

        span {
            color: white;
            font-weight: 600;
        }
    }
    p {
        color: rgba($color: #fff, $alpha: 0.55);
        font-weight: 300;
        margin: 0;
        span {
            color: white;
            font-weight: 600;
        }
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .icons {
        display: flex;
        justify-content: center;
        gap: 56px;
        .icon--lg {
            color: rgba($color: #fff, $alpha: 0.55);
        }
    }
}
