.page {
    background-color: var(--color-primary);
    color: var(--color-black);

    padding: 80px 0;
    &:nth-child(even) {
        .card__content {
            order: unset;
        }
    }

    h2 {
        color: var(--color-black);

        span {
            color: var(--color-black);
        }
    }

    h3 {
        span {
            color: var(--color-black);
        }
    }

    p {
        span {
            font-weight: 100;
            color: var(--color-black);
        }
    }

    .BTN_1 {
        background-color: var(--color-white);
    }

    .swiper-pagination-bullet {
        border-radius: 0;
        transform: rotate(45deg);
        --swiper-pagination-bullet-size: 20px;
        --swiper-pagination-bullet-horizontal-gap: 15px;
    }

    .swiper-pagination {
        position: static;
        --swiper-pagination-inactive-color: var(--color-black);
        --swiper-pagination-color: var(--color-white);
    }
}
