.page {
    background-color: var(--color-primary);
    color: var(--color-black);

    padding: 80px 0;
    &:nth-child(even) {
        .card__content {
            order: unset;
        }
    }

    h2 {
        color: var(--color-black);

        span {
            color: var(--color-black);
        }
    }

    h3 {
        span {
            color: var(--color-black);
        }
    }

    p {
        span {
            font-weight: 100;
            color: var(--color-black);
        }
    }

    .BTN_1 {
        background-color: var(--color-white);
    }
}
