.section {
    padding: 80px 0 0;

    h3 {
        padding: var(--spacing-md) 0 0 0;
    }
}

h2 {
    margin: 0 0 100px;

    span {
        font-weight: 100;
        color: rgba($color: #fff, $alpha: 0.55);
    }
}
