{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercice
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            <span>Mes premiers</span>
            laboratoires
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo_1.jpg" alt="labo_1" />
                </div>
                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        <span>Lorem ipsum, dolor sit amet consectetur</span>
                        adipisicing elit. Voluptates, minus!
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#" class="BTN_1">
                        VOIR LE LABORATOIRE
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo_1.jpg" alt="labo_1" />
                </div>
                <div class="card__content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>
                        <span>Lorem ipsum, dolor sit amet consectetur</span>
                        adipisicing elit. Voluptates, minus!
                    </p>
                    <p class="tag">SCSS</p>
                    <a href="#" class="BTN_1">
                        VOIR LE LABORATOIRE
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo_1.jpg" alt="labo_1" />
                </div>
                <div class="card__content">
                    <h3>SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>
                    <p>
                        <span>Lorem ipsum, dolor sit amet consectetur</span>
                        adipisicing elit. Voluptates, minus!
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#" class="BTN_1">
                        VOIR LE LABORATOIRE
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo_1.jpg" alt="labo_1" />
                </div>
                <div class="card__content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        <span>Lorem ipsum, dolor sit amet consectetur</span>
                        adipisicing elit. Voluptates, minus!
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a href="#" class="BTN_1">
                        VOIR LE LABORATOIRE
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page">
    <div class="wrapper">
        <h2>
            <span>Mes</span>
            laboratoires réactifs
        </h2>
        <div class="swiper js-swiper-page">
            <div class="swiper wrapper">
                <div class="cards">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/labo_1.jpg" alt="labo_1" />
                        </div>
                        <div class="card__content">
                            <h3>SEM 07 - SITE RÉACTIF</h3>
                            <p>
                                <span>Lorem ipsum, dolor sit amet consectetur</span>
                                adipisicing elit. Voluptates, minus!
                            </p>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                            <a href="#" class="BTN_1">
                                VOIR LE LABORATOIRE
                                <svg class="icon icon--md">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="card__media">
                            <img src="assets/images/labo_1.jpg" alt="labo_1" />
                        </div>
                        <div class="card__content">
                            <h3>SEM 08 - SITE RÉACTIF</h3>
                            <p>
                                <span>Lorem ipsum, dolor sit amet consectetur</span>
                                adipisicing elit. Voluptates, minus!
                            </p>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                            <a href="#" class="BTN_1">
                                VOIR LE LABORATOIRE
                                <svg class="icon icon--md">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="card__media">
                            <img src="assets/images/labo_1.jpg" alt="labo_1" />
                        </div>
                        <div class="card__content">
                            <h3>SEM 09 - SITE RÉACTIF</h3>
                            <p>
                                <span>Lorem ipsum, dolor sit amet consectetur</span>
                                adipisicing elit. Voluptates, minus!
                            </p>
                            <p class="tag">SCSS + JAVASCRIPT</p>
                            <a href="#" class="BTN_1">
                                VOIR LE LABORATOIRE
                                <svg class="icon icon--md">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
